{% load staticfiles %}
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     

     <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    {% block header %}
    <header>
    </header>
    {% endblock %}

    {% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="/">TAKUAR</a>
            </div>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav">
                    <li id="home-nav"><a href="/">Home</a></li>        
                    <li id="events-nav"><a href="#">Eventos</a></li>
                    <li id="forums-nav"><a href="/forum">Foros</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li id="profile-nav"><a href="/profile"><span class="glyphicon glyphicon-user"></span> {{ user }}</a></li>
                        <li id="logout-nav"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                        <li id="login-nav"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}    

    {% block content %}
    {% endblock %}

    <script>
        $(function() {
            var pgurl = window.location.pathname;
            $("#nav ul li a").each(function(){
                if($(this).attr("href") == pgurl || $(this).attr("href") == '' )
                    $(this).parent().addClass("active");
                })
        });
    </script>

    {% block extra_js %}
    {% endblock %}

</body>
</html>
