{% extends 'base.html' %}
{% block content %}
{% if form.errors %}
<p>Tu usuario y contraseña no coinciden. Intenta nuevamente.</p>
{% endif %}


<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading">Log In</div>
        <div class="panel-body">

            <form class="form-inline" method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {% for field in form.visible_fields %}
                    <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
                        <label class="control-label">{{ field.label }}{% if field.field.required %} *{% endif %}</label>
                        <div class="controls">
                            {{ field }}
                            {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
                        </div>
                    </div>
                {% endfor %}

                <input class="save btn btn-default" type="submit" value="Log In" />
            </form>

        </div>
    </div>
    <a href="/register">Registrarse</a>
</div>
{% endblock %}

<!--                         {{ form.username.label_tag }} -->
<!--                         {{ form.username }} -->
<!--                         {{ form.password.label_tag }} -->
<!--                         {{ form.password }} -->
<!--                         <input type="submit" value="login" /> -->
<!--                         <input type="hidden" name="next" value="{{ next }}" /> -->
