{% extends 'base.html' %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="login-window">
            <h1>Login</h1>
            <div class="login-body">
                {% if form.errors %}
                <p>Tu usuario y contraseña no coinciden. Intenta nuevamente.</p>
                {% endif %}
                <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% for field in form.visible_fields %}
                    <div class="field-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
                        <label class="field-label">{{ field.label_tag }}</label>
                        {{ field }}
                        {% if field.errors %}<span>{{ field.errors.as_text }}</span>{% endif %}
                    </div>
                    {% endfor %}

                    <input class="login-button" type="submit" value="LOGIN" />
                </form>
            </div>
            <a href="/register">Registrarse</a>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}

