{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="row">
                <div class="col-md-4">
                    {% if thread.author.userprofile.profilePic %}
                    <img class="img-circle img-responsive profile-pic"src="{{ thread.author.userprofile.profilePic.image.url }}" >
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h3><a href="profile?user={{ thread.author.username }}">{{ thread.author.username }}</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>{{thread.submit_date}}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h1>{{thread.name}}</h1>
            <div>{{thread.content|linebreaks}}</div>
        </div>
    </div>
    {% for reply in replies %}
        <div class="row reply-box">
            <div class="col-md-3 col-md-offset-1">
                <div class="row">
                    <div class="col-md-4">
                        {% if reply.author.userprofile.profilePic %}
                            <img class="img-circle img-responsive profile-pic"src="{{ reply.author.userprofile.profilePic.image.url }}" >
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h3><a href="profile?user={{ reply.author.username }}">{{ reply.author.username }}</a></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{reply.submit_date}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div>
                    {{reply.message|linebreaks}}
                </div>
            </div>
            {% if request.user != reply.author %}
                <div class="col-md-1">
                    <form class="flag-reply" method="POST" action="/flag/">
                        {% csrf_token %}
                        <input type="hidden" name="reply_id" value = "{{reply.id}}">
                        <button type="submit" class="btn btn-default" value="flag"><span class="glyphicon glyphicon-flag"></span></button>
                    </form>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Responder: </h3>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Enviar"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    var url_flag = "{% url 'forum.views.flagReply' %}"
</script>
<script src="{% static 'js/flag_ajax.js' %}"></script>
{% endblock %}
