{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Buscar:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <form method="get" action=".">
                {{ form|crispy }}
                <input type="submit" class="btn btn-default" value="Buscar">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if query %}
            <h3>Resultados:</h3>

            {% for result in page.object_list %}
				{% if result.model_name == 'thread' %}
							<form method="GET">
								<a href="/thread/?id={{ result.pk }}">{{ result.name }}, {{ result.submit_date }}</a>
							</form>
				{% endif %}
				<p>{{ result.name }}, {{ result.submit_date }}</p>
            {% empty %}
            <p>No se encontraron resultados :(</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
