{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Evento:</h3>
        </div>
    </div>

    <div class="row event-section">
        <div class="col-md-5 col-md-offset-1">
            <h4>Proximos eventos:</h4>
            <div id="events-list">

            </div>
        </div>
        <div class="col-md-5">
            <h4>Evento seleccionado:</h4>
            <div id="selected-event">
                {% include "event_card.html" with event=event %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h3>Invitados:</h3>
        </div>
    </div>

    <div class="row guests-section">
        <div class="col-md-5 col-md-offset-1">
            <div class="input-group">
                <input type="text" id="user-search-field" class="form-control" placeholder="Buscar invitados...">
                <span class="input-group-btn"><button id="search-button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Buscar</button></span>
            </div>
            <div id="user-search-list">
            </div>
        </div>
        <div class="col-md-5">
            <h4>Lista de invitados:</h4>
            <div id="guests" style="background-color:steelblue; min-height:80;">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form method='POST' id="group-form" class="text-right">
                {% csrf_token %}
                {{ form.as_p }}
                <input type='submit' class="btn btn-default" value='Crear grupo'/>
            </form>
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
<script>
    var url_search_user= "{% url 'sitio.views.searchUser' %}";
    var url_get_events = "{% url 'sitio.views.getEvents' %}";
</script>
<script src="{% static 'js/search_ajax.js' %}"></script>
{% endblock %}
